Repository thoroc/devx: changes, and which lefthook commands are due for each by the changed paths.
All: 1. Create doctoc, 2. lint doc, 3. Lint all the yaml files, 4. Lint all the json files, 5. Lint all the shell files, 6. Lint lockfile, 7. Format all the files, 8. Format lock files

1. Create doctoc:
  description: Create doctoc for all the markdown files
  run: npx doctoc {staged_files}
  stage_fixed: true

2. lint doc:
  description: Linting all the docs
  run: npx markdownlint-cli2 --fix {staged_files}
  stage_fixed: true

3. Lint all the yaml files:
  description: Linting all the yaml files
  run: npx yaml-lint {staged_files}
  stage_fixed: true

4. Lint all the json files:
  description: Linting all the json files
  run: npx @prantlf/jsonlint {staged_files}
  stage_fixed: true

5. Lint all the shell files:
  description: Linting all the shell files
  run: npx shellcheck {staged_files}
  stage_fixed: true

6. Lint lockfile:
  description: Linting all the lock files
  run: npx lockfile-lint --validate-https --path

7. Format all the files:
  description: Format all the files
  run: npx prettier --write {staged_files}
  stage_fixed: true

8. Format lock files:
  description: Format all the lock files
  run: npx prettier --write {staged_files}
  stage_fixed: true

chore: remove interactive option from pre-commit hooks in lefthook configuration
  lefthook.yml
Due: 3. Lint all the yaml files

feat: update environment variable configuration and docker-compose files for n8n, portainer, traefik, verdaccio, watchtower, and whoami services
  services/n8n/.env.dist
  services/n8n/docker-compose.yml
  services/portainer/.env.dist
  services/portainer/docker-compose.yml
  services/traefik/.env.dist
  services/traefik/conf/traefik.yml
  services/traefik/docker-compose.yml
  services/verdaccio/.env.dist
  services/verdaccio/docker-compose.yml
  services/watchtower/.env.dist
  services/watchtower/docker-compose.yml
  services/whoami/.env.dist
  services/whoami/docker-compose.yml
Due: 3. Lint all the yaml files

docs: split documentation
  README.md
  services/n8n/README.md
  services/portainer/README.md
  services/traefik/README.md
  services/verdaccio/README.md
  services/watchtower/README.md
  services/whoami/README.md
Due: 1. Create doctoc, 2. lint doc

docs: mentioning .env files
  README.md
  services/n8n/README.md
  services/portainer/README.md
  services/traefik/README.md
  services/verdaccio/README.md
  services/watchtower/README.md
  services/whoami/README.md
Due: 1. Create doctoc, 2. lint doc

docs: fix doc toc
  services/n8n/README.md
  services/portainer/README.md
  services/traefik/README.md
  services/verdaccio/README.md
  services/watchtower/README.md
  services/whoami/README.md
Due: 1. Create doctoc, 2. lint doc

Update Docker Compose configurations for Verdaccio, Watchtower, and Whoami services
  services/n8n/docker-compose.yml
  services/portainer/.env.dist
  services/portainer/docker-compose.yml
  services/traefik/docker-compose.yml
  services/traefik/logs/traefik.log
  services/verdaccio/docker-compose.yml
  services/watchtower/docker-compose.yml
  services/whoami/docker-compose.yml
Due: 3. Lint all the yaml files

feat: add .gitkeep files for Portainer and Verdaccio data directories
  services/portainer/data/.gitkeep
  services/verdaccio/data/.gitkeep
Due: none

Refactor code structure for improved readability and maintainability
  .gitignore
  services/traefik/docker-compose.yml
  services/traefik/logs/traefik.log
Due: 3. Lint all the yaml files

fix: update Let's Encrypt email address for certificate resolver
  services/traefik/conf/traefik.yml
Due: 3. Lint all the yaml files

fix: add .htpasswd and *.log to .gitignore
  .gitignore
Due: none

fix: remove mise.toml file and clean up docker-compose.yml formatting
  mise.toml
  services/traefik/docker-compose.yml
Due: 3. Lint all the yaml files

fix: update table of contents formatting and correct Verdaccio URL in README
  services/verdaccio/README.md
Due: 1. Create doctoc, 2. lint doc

fix: update README and docker-compose for Traefik, add certificate generation script, and set npm registry script
  README.md
  services/traefik/.env.dist
  services/traefik/README.md
  services/traefik/docker-compose.yml
  services/traefik/scripts/generate-certs.sh
  services/verdaccio/scripts/set-npm-registry.sh
  services/whoami/docker-compose.yml
Due: 1. Create doctoc, 2. lint doc, 3. Lint all the yaml files, 5. Lint all the shell files

Add shellcheck as a development dependency in package.json
  README.md
  package-lock.json
  package.json
Due: 1. Create doctoc, 2. lint doc, 6. Lint lockfile, 8. Format lock files

fix: update service configurations and README files for n8n, portainer, traefik, verdaccio, watchtower, and whoami; remove unused .env.dist files
  .env.dist
  README.md
  services/n8n/.env.dist
  services/n8n/README.md
  services/n8n/docker-compose.yml
  services/portainer/.env.dist
  services/portainer/README.md
  services/portainer/docker-compose.yml
  services/traefik/.env.dist
  services/traefik/docker-compose.yml
  services/verdaccio/.env.dist
  services/verdaccio/README.md
  services/verdaccio/docker-compose.yml
  services/watchtower/.env.dist
  services/watchtower/docker-compose.yml
  services/whoami/.env.dist
  services/whoami/README.md
  services/whoami/docker-compose.yml
Due: 1. Create doctoc, 2. lint doc, 3. Lint all the yaml files

feat: add CoreDNS service with configuration files and update README; include IP address script
  .env.dist
  README.md
  docker-compose.yml
  services/coredns/README.md
  services/coredns/conf/Corefile
  services/coredns/conf/db.home.arpa
  services/coredns/docker-compose.yml
  services/coredns/scripts/ip_address.sh
Due: 1. Create doctoc, 2. lint doc, 3. Lint all the yaml files, 5. Lint all the shell files

feat: add dclint configuration and integrate linting for docker-compose files; update README and service configurations
  .dclintrc.json
  README.md
  docker-compose.yml
  lefthook.yml
  package-lock.json
  package.json
  services/coredns/docker-compose.yml
  services/n8n/docker-compose.yml
  services/portainer/docker-compose.yml
  services/traefik/docker-compose.yml
  services/verdaccio/docker-compose.yml
  services/watchtower/docker-compose.yml
  services/whoami/docker-compose.yml
Due: 1. Create doctoc, 2. lint doc, 3. Lint all the yaml files, 6. Lint lockfile, 8. Format lock files

Path conditions:
  1. Create doctoc: any of: *.md
  2. lint doc: any of: *.md
  3. Lint all the yaml files: any of: *.{yml,yaml}
  4. Lint all the json files: any of: *.{json,jsonc,json5}, !**/acme.json, !**/node_modules
  5. Lint all the shell files: any of: *.sh
  6. Lint lockfile: any of: package*.{lock,json,lockfile}
  7. Format all the files: any of: *.{md,yml,yaml,json,jsonc,json5,sh,toml}, !package-lock.json, !package.json
  8. Format lock files: any of: package*.{lock,json,lockfile}
